node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
!.env.example
.tanstack
.wrangler
.output
.vinxi
test-results/
playwright-report/
__unconfig*
todos.json

# typescript
*.tsbuildinfo

# Local library state (created on first run)
data/*.db
data/*.db-*
data/media/*
data/backups/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv
